.darksoul-footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
}

.darksoul-footer-content {
  display: flex;
  justify-content: space-between;
}

.darksoul-footer-section {
  margin-right: 50px;
}

.darksoul-footer-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.d-footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d-footer-li {
  margin-bottom: 10px;
}

.d-footer-li-h {
  text-decoration: none;
  color: #fff;
}

.darksoul-footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.darksoul-footer-bottom-sec {
  margin-bottom: 10px;
}

